doctype html
html
  head
    title= title   
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')   
    
    //css
    link(href='/stylesheets/login/style.css' rel='stylesheet')
    link(href='/stylesheets/styles.css' rel='stylesheet')

    // build:js js/main.js
    link(href='./../node_modules/jquery/dist/jquery.min.js' style='script')
    link(href='./../node_modules/popper.js/dist/umd/popper.min.js'  style='script')
    link(href='./../node_modules/bootstrap/dist/js/bootstrap.min.js' style='script')
    // ---- Include the above in your HEAD tag --------
  body
    block content
