extends loyout_login

block content
  body
    .sidenav
        .login-main-text
            h2| Bienvenido a la pagina registro
            br
            p El reistro permitira seleccionar tu cicla y utilizarla de manera rapida y facil!!!
    .main
        .col-md-6.col-sm-12
           .login-form
             form
               .form-group
                    label Nombre de usuario o correo
                    input.form-control(type='text' placeholder='User Name')
               .form-group
                    label Contraseña 
                    input.form-control(type='password' placeholder='Password')
               .form-group
                    label Confirmar contraseña
                    input.form-control(type='password' placeholder='Password')
                    br                    
                    button.btn.btn-secondary(type='submit') Registrar
                    a.btn.btn-info(href='/login' role='button') regresar        