extends loyout_login

block content
  body
    .sidenav
        .login-main-text
            h2| Bienvenido a cambio de clave 
            br
            p Por favor, ingrese su  nueva clave
    .main
        .col-md-6.col-sm-12
         .login-form
            .main-div
               .panel
                  if info && info.message 
                     div.alert.alert-danger
                        = info.message
            form#Login(action='/resetPassword', method='POST')
              input#email(type='hidden' name='email' value= usuario.mail)
              .form-group
                  label(for='pwd') Nueva contraseña :
                  input#pwd.form-control(type='password', name='pwd',  class=errors.pwd ? 'is invalid':'')
                  if errors.pwd
                      small#pwdHelp.text-danger
                          =errors.pwd.message
              .form-group
                  label(for='confirm_pwd') Confirmar contraseña:
                  input#confirm_pwd.form-control(type='password', name='confirm_pwd', class=errors.confirm_pwd ? 'is invalid':'')
                  if errors.confirm_pwd
                        small#confirm_pwdHelp.text-danger
                            =errors.confirm_pwd.message                          
              br
              br
              input.btn.btn-secondary(type='submit', value='Guardar')     