extends ../layout

block content
  a(href='/usuarios/create') Nueva usuario
    

  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col')  Nombre
        th(scope='col')  Apellidos
        th(scope='col')  Email
        th(scope='col')  Verificado
        th(scope='col')  
        th(scope='col')  
    tbody
    each usuario in usuarios
      tr
        th(scope='row')
          = usuario.id
        td= usuario.nombre
        td= usuario.apellido
        td= usuario.mail
        td= (usuario.verificado==false)?'NO':'SI'
        td
          a(href='/usuarios/' + usuario.id + '/update')  Editar usuario
        td
          form.inline(method="POST" action='/usuarios/' + usuario.id + '/delete')
              input(type='hidden' name='id' value=usuario.id)
              button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                  = 'Eliminar Usuario'