extends ../layout

block content   
  a(href='/usuarios') volver a usuarios

  br
  br
  br

  h1 Modificar usuario

  br
  br

  form(action=`/usuarios/${usuario.id}/update`, method='POST')
    .form-group
        label(for='nombre') Nombre:
        input#nombre.form-control(typt='text', name='nombre', value=usuario.nombre class=errors.nombre ? 'is invalid':'')
        if errors.nombre
            small#nombreHelp.text-danger
                =errors.nombre.message  
    .form-group
        label(for='apellido') Apellido:
        input#apellido.form-control(typt='text', name='apellido', value=usuario.apellido class=errors.apellido ? 'is invalid':'')
        if errors.apellido
            small#apellidoHelp.text-danger
                =errors.apellido.message 
    .form-group
        label(for='mail') Email:
        input#mail.form-control(typt='text', name='mail', value=usuario.mail class=errors.mail ? 'is invalid':'')
        if errors.mail
            small#mailHelp.text-danger
                =errors.mail.message
    input.btn(type='submit', value='Guardar')